*.swp
*.swn
*.o
indri-5.9/site-search/crawl-index
indri-5.9/MakeDefns
indri-5.9/Makefile.app
indri-5.9/buildindex/IndriBuildIndex
indri-5.9/clarity/clarity
indri-5.9/config.log
indri-5.9/config.status
indri-5.9/depend/
indri-5.9/dumpindex/dumpindex
indri-5.9/harvestlinks/harvestlinks
indri-5.9/indrid/IndriDaemon
indri-5.9/makeprior/makeprior
indri-5.9/modifyfields/ModifyFields
indri-5.9/pagerank/pagerank
indri-5.9/reformulate/ReformulateQuery
indri-5.9/rmodel/rmodel
indri-5.9/runquery/IndriRunQuery
indri-5.9/site-search/cgi/bin/lemur.cgi
