*.swp
*.swn
*.o
site-search/crawl-index
MakeDefns
Makefile.app
buildindex/IndriBuildIndex
clarity/clarity
config.log
config.status
depend/
dumpindex/dumpindex
harvestlinks/harvestlinks
indrid/IndriDaemon
makeprior/makeprior
modifyfields/ModifyFields
pagerank/pagerank
reformulate/ReformulateQuery
rmodel/rmodel
runquery/IndriRunQuery
site-search/cgi/bin/lemur.cgi
